.judul-table{
  font-weight: bold;
}
.detail-pendaftaran{
  list-style-type: none;
  line-height: 250%;
}
.detail-container{
  width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  outline-color: black;
  outline-style: dashed;
  outline-width: medium;
  margin-top: 25px;
}
.form-lihat-kartu{
  margin-left: 90px;
}
.header-form-kartu-ujian{
  margin-bottom: 60px;
}
.container-form-kartu-ujian{
  margin-top: 170px;
  background-color: #f2f2f2;
  width: 600px;
  height: 280px;
  box-shadow: 10px 10px 5px #888888;
}
footer {
  height: 10vh;
  color: white;
  text-align: center;
  background-color: #262626;
  right: 0;
  bottom: 0;
  left: 0;
}
body{
  background-image: url("../image/pencil.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: arial;
}
.container-table{
  background-color: white;
  margin-top: 10px;

}
.container-header-table{
  background-color: white;
  width: 760px;
  margin: 0 auto;
  height: 70px;
  padding : 2px;
}
.footer-fixed{
  color: white;
  text-align: center;
  background-color: #262626;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 10px;
}
